.bafirst{
font-size: 20px;
}
.cryfirst{
    color: white;
    background-color: gray;
}
.diffirst{
    color: white;
    background-color: gray;
}
.header{
    background-color: rgb(255, 183, 0);
}
.another{
    background-color: rgba(255, 196, 0, 0.6);
}